
<h2>ALL-TIME FAVOURITE</h2>
<div class="scroll">
    <ul class="favourite">
    
        <li class="favourite__drama">
            <a href="/1/boys-over-flowers">
                <div class="drama__poster"><img src="/media/show/boys_over_flowers_portrait.jpg"></div>
                <div class="drama__text">
                    <div class="drama__name">Boys Over Flowers</div>
                    <div class="drama-rating">4.2</div>
                    <span class="drama__rate-votes">3</span>
                </div>
            </a>
        </li>
    
        <li class="favourite__drama">
            <a href="/2/its-my-life-2018">
                <div class="drama__poster"><img src="/media/show/its_my_life_portrait.jpg"></div>
                <div class="drama__text">
                    <div class="drama__name">It's My Life</div>
                    <div class="drama-rating">0.0</div>
                    <span class="drama__rate-votes">1</span>
                </div>
            </a>
        </li>
    
        <li class="favourite__drama">
            <a href="/3/test">
                <div class="drama__poster"><img src="/media/show/children-of-nobody_l.jpg"></div>
                <div class="drama__text">
                    <div class="drama__name">What a new title</div>
                    <div class="drama-rating">0.0</div>
                    <span class="drama__rate-votes">0</span>
                </div>
            </a>
        </li>
    
    </ul>
</div>