
<h2>TRENDING REVIEW</h2>

<div class="review-trend">	
    <div class="user__profile">
       <img src="/static/girl.png">
    </div>
    <div class="review__detail">
        <div class="details__info">
            <span class="info__user-name">shahrukh</span>
            <span>&nbsp;review of&nbsp;</span>
            <span class="info__drama-name"><a href="/1/boys-over-flowers">Boys Over Flowers</a></span>
        </div>
        <div class="review__rate">
            <div class="drama-rating">4.5</div>	
            <div class="like__button"></div>
            <div class="like__count">100</div>
        </div>
    </div>
    <div class="review__text">
        <p>Test Review Test</p>
    </div>
</div>

<div class="review-trend">	
    <div class="user__profile">
       <img src="/static/girl.png">
    </div>
    <div class="review__detail">
        <div class="details__info">
            <span class="info__user-name">shahrukh.gunnar</span>
            <span>&nbsp;review of&nbsp;</span>
            <span class="info__drama-name"><a href="/1/boys-over-flowers">Boys Over Flowers</a></span>
        </div>
        <div class="review__rate">
            <div class="drama-rating">3.5</div>	
            <div class="like__button"></div>
            <div class="like__count">0</div>
        </div>
    </div>
    <div class="review__text">
        <p>asdfa sdfasdfasdfasf asfd asdf asfasdfasdf
asd f
as df
as
df
asdfasdfasdfasdfadf</p>
    </div>
</div>

<div class="review-trend">	
    <div class="user__profile">
       <img src="/static/girl.png">
    </div>
    <div class="review__detail">
        <div class="details__info">
            <span class="info__user-name">shahrukh</span>
            <span>&nbsp;review of&nbsp;</span>
            <span class="info__drama-name"><a href="/1/boys-over-flowers">Boys Over Flowers</a></span>
        </div>
        <div class="review__rate">
            <div class="drama-rating">4.5</div>	
            <div class="like__button"></div>
            <div class="like__count">0</div>
        </div>
    </div>
    <div class="review__text">
        <p>Testint Testing Testing</p>
    </div>
</div>

<div class="review-trend">	
    <div class="user__profile">
       <img src="/static/girl.png">
    </div>
    <div class="review__detail">
        <div class="details__info">
            <span class="info__user-name">shahrukh</span>
            <span>&nbsp;review of&nbsp;</span>
            <span class="info__drama-name"><a href="/2/its-my-life-2018">It's My Life</a></span>
        </div>
        <div class="review__rate">
            <div class="drama-rating">0.0</div>	
            <div class="like__button"></div>
            <div class="like__count">0</div>
        </div>
    </div>
    <div class="review__text">
        <p>asdfasd fasdf asdfasdfasdfasdf</p>
    </div>
</div>
